:host {
  text-align: center;
  form {
    padding: 20px;
    md-input-container {
      display: block;
      margin: 20px 0;
    }
    button {
      margin: 5px auto;
      display: block;
    }
  }
}