<h3>Login</h3>
<pre>En cours de dev, non fonctionnel (c'est en prod pour démo)</pre>
<form>
    <md-input-container>
        <input mdInput required placeholder="Identifiant">
    </md-input-container>
    <md-input-container>
        <input mdInput required type="password" placeholder="Mot de passe">
    </md-input-container>
    <md-input-container>
        <input required mdInput placeholder="LodestoneId">
    </md-input-container>
    <button md-raised-button type="submit">Valider</button>
</form>
