<md-sidenav-container>
    <md-sidenav #sidenav>
        <app-sidebar></app-sidebar>
    </md-sidenav>

    <div class="login-container">
        <h1 class="header">
            Noe
        </h1>
        <div class="content">
            <nav md-tab-nav-bar>
                <a md-tab-link
                   *ngFor="let tab of tabs"
                   [routerLink]="tab.link"
                   routerLinkActive #rla="routerLinkActive"
                   [active]="rla.isActive">
                    {{tab.label}}
                </a>
                <button md-icon-button (click)="sidenav.toggle()" class="menu">
                    <md-icon *ngIf="!auth.isIdentified()">person_outline</md-icon>
                    <md-icon *ngIf="auth.isIdentified()">person</md-icon>
                </button>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>