@import '../theme';

@include angular-material-theme($app-theme);

:host {
  text-align: center;
  .login-container {
    width: 1200px;
    margin: 0 auto;
    .content {
      background: map-get(map-get($app-theme, background), background);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      nav {
        background: mat-color($app-primary, 500);
      }
      .menu {
        position: absolute;
        right: 5px;
        top: 1px;
      }
      md-icon {
        font-size: 20px;
        margin-top: 4px;
      }
    }
  }
  md-sidenav {
    width: 300px;
  }

  md-sidenav-container {
    background-color: unset;
    height: 100%;
    width: 100%;
  }
}


