@import '../theme';

@include angular-material-theme($app-theme);

:host {
  text-align: center;
  .container {
    width: 1200px;
    margin: 0 auto;
    .header {

    }
    .content {
      background: map-get(map-get($app-theme, background), background);
    }
  }

}


