<md-grid-list cols="3" gutterSize="10px" rowHeight="205px">
    <md-grid-tile [colspan]="3" [rowspan]="4">
        <img class="news"
             src="https://cdn.discordapp.com/attachments/304230643720650752/312965381184684032/NoeNLMaiH.png"
             alt="Newsletter du mois">
    </md-grid-tile>
    <md-grid-tile [rowspan]="2" [colspan]="3" class="monthly-video">
        <md-card>
            <md-card-header>
                <md-card-title>Vidéo du mois</md-card-title>
            </md-card-header>
            <md-card-content>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3_JxY2pRHn4" frameborder="0"
                        allowfullscreen></iframe>
            </md-card-content>
        </md-card>
    </md-grid-tile>
</md-grid-list>
