:host {
  .sites {
    text-align: left;
  }
  .items {
    height: 300px;
    overflow-y: scroll;
    a{
      text-decoration: none;
    }
  }
  .description {
    white-space: normal !important;
  }
}