:host {
  text-align: left;
  width: 350px;
  .mat-card {
    width: 350px;
    .avatar {
      width: 32px !important;
      height: 32px !important;
    }
    .mini-avatar {
      width: 16px !important;
      height: 16px !important;
      vertical-align: middle;
    }
    .mini-member-name {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      padding: 0 2px;
    }
    .icon {
      font-size: 13px;
      height: auto;
      width: auto;
      vertical-align: middle;
    }
    .in-channel-member {
      margin-left: 20px !important;
    }
    md-card-actions {
      text-align: center;
    }
  }
}