:host {
  text-align: left;
  width: 100%;
  padding: 10px;
  .avatar {
    width: 32px !important;
    height: 32px !important;
  }
  .mini-avatar {
    width: 16px !important;
    height: 16px !important;
    vertical-align: middle;
  }
  .mini-member-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 0 2px;
  }
  .in-channel-member {
    margin-left: 20px !important;
  }
  md-card-actions {
    text-align: center;
  }
}