@import 'theme';

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  background: url("http://img.finalfantasyxiv.com/lds/h/F/0Fq12VYs-MUdPB6svSZ-dom2g0.jpg") no-repeat center top fixed;
  background-size: cover;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-bottom: 100px;
}

//No idea why but I have to set this style here in order to get it working...
.mat-ink-bar {
  background-color: mat-color($app-accent, 100) !important;
}