<md-grid-list cols="1" rowHeight="224.5px">
    <md-grid-tile [rowspan]="3">
        <img src="../../assets/party-photo.png" alt="Photo de groupe !">
    </md-grid-tile>
    <md-grid-tile>
        <div class="description">
            Noe, c'est des potes, du fun, du gras, du fun et du fun !
            <br>
            Nous sommes là pour nous amuser, déconner, et avancer dans le contenu de FFXIV.
            <br>
            <br>
            <br>
            <span class="quote">
            C'est dans les vieilles CL qu'on fait les meilleurs raids
            <br>
            - Nanamo
        </span>
        </div>
    </md-grid-tile>
</md-grid-list>
