<div class="container">
    <h3>Inscription</h3>
    <form [formGroup]="form" (submit)="register()">
        <md-input-container>
            <input mdInput required formControlName="login" placeholder="Identifiant">
            <md-error>Identifiant requis</md-error>
        </md-input-container>
        <div formGroupName="passwords">
            <md-input-container>
                <input mdInput required formControlName="password" type="password" placeholder="Mot de passe">
            </md-input-container>
            <md-input-container>
                <input mdInput required formControlName="password_check" type="password"
                       placeholder="Vérification du mot de passe">
                <md-error>Les mots de passe doivent correspondre</md-error>
            </md-input-container>
        </div>
        <md-input-container>
            <input mdInput required formControlName="lodestone_id" type="number"
                   placeholder="lodestoneId">
            <md-error>LodestoneId invalide</md-error>
        </md-input-container>
        <button md-raised-button [disabled]="!form.valid" type="submit" color="primary">S'inscrire</button>
    </form>
</div>
